.task-edit {
    margin: auto;
    width: 50vw;

    &__buttons {
        padding-bottom: 20px;
        width: 50vw;
        display: flex;
        gap: 10px;

        button {
            width: fit-content;
            padding: 10px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__input-name {
            height: 30px;
            width: 100%;
            border: 1px solid rgba(211, 167, 167, 0.08);
        }

        &__select-priority,
        &__select-tags {
            height: 30px;
            width: 30%;
            border: 1px solid rgba(0, 0, 0, 0.08);
        }

        &__select-tags {
            height: fit-content;
            overflow-y: auto;
        }

        &__textarea-description {
            resize: none;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.08);
        }
    }

    @include mobile {
        width: 90vw;
    }

    @include tablet {
        width: 80vw;
    }
}
