.task-edit {
    margin: auto;
    width: 50vw;

    &__buttons {
        padding-bottom: 20px;
        width: 50vw;
        display: flex;
        gap: 10px;

        button {
            width: fit-content;
            padding: 10px;
        }
    }

    @include mobile {
        width: 90vw;
    }

    @include tablet {
        width: 80vw;
    }
}
