.task-add {
    margin: auto;
    width: 50vw;

    &__buttons {
        padding-bottom: 20px;
        width: 50vw;
        display: flex;
        gap: 10px;

        &-delete {
            background-color: var(--color-rose);
            margin-left: auto;
        }

        &-edit {
            background-color: var(--color-foam);
        }

        button {
            width: fit-content;
            padding: 10px;
        }
    }

    @include mobile {
        width: 90vw;
    }

    @include tablet {
        width: 80vw;
    }
}
