.task-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__input-name {
        height: 25px;
        padding: 5px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.08);
    }

    &__error {
        padding-top: 5px;
        font-size: 14px;
        color: var(--color-love);
    }

    &__select-priority,
    &__select-tags {
        width: 30%;
        border: 1px solid rgba(0, 0, 0, 0.08);
    }

    &__select-priority,
    &__select-tags {
        height: 37px;
        padding: 5px;
    }

    &__select-tags {
        -webkit-appearance: menulist-button;
        line-height: 25px;
    }

    &__select-tags {
        height: fit-content;
        overflow-y: auto;
    }

    &__textarea-description {
        padding: 5px;
        resize: none;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.08);
    }

    @include mobile {
        &__select-priority,
        &__select-tags {
            width: 70%;
        }
    }

    @include tablet {
        &__select-priority,
        &__select-tags {
            width: 50%;
        }
    }
}
