* {
    font-family: var(--font-family-base);
}

body {
    font-family: var(--font-family-base);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

h1 {
    font-size: 18px;
    text-wrap: pretty;
}

h3 {
    color: gray;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: inherit;

    @include hover {
        color: var(--color-foam);
    }
}

button {
    border-radius: var(--border-radius);
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 10px;

    text-align: center;

    @include hover {
        background-color: var(--color-highlight-high);
    }
}

input[type="text"] {
    font-size: 14px;
    padding: 5px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

textarea:focus {
    outline: none;
}

h1,
h2,
h3,
p {
    word-wrap: break-word;
    white-space: normal;
}
