body {
    margin-top: 5vh;
    font-family: "Century Gothic";
    margin-bottom: 5vh;
}

h1 {
    font-size: 18px;
}

h3 {
    color: gray;
    line-height: 1cm;
}

a {
    text-decoration: none;
    color: inherit;

    @include hover {
        color: var(--color-foam);
    }
}

button {
    border-radius: var(--border-radius);
    border: none;
    font-family: "Century Gothic";

    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    padding: 10px;

    text-align: center;

    @include hover {
        background-color: var(--color-highlight-high);
    }
}
