@font-face {
  font-family: "Century Gothic";
  src: url("CenturyGothic-Italic.eot");
  src: local("Century Gothic Italic"), local("CenturyGothic-Italic"), url("CenturyGothic-Italic.eot?#iefix") format("embedded-opentype"), url("CenturyGothic-Italic.woff") format("woff"), url("CenturyGothic-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Century Gothic";
  src: url("CenturyGothic.eot");
  src: local("Century Gothic"), local("CenturyGothic"), url("CenturyGothic.eot?#iefix") format("embedded-opentype"), url("CenturyGothic.woff") format("woff"), url("CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url("CenturyGothic-Bold.eot");
  src: local("Century Gothic Bold"), local("CenturyGothic-Bold"), url("CenturyGothic-Bold.eot?#iefix") format("embedded-opentype"), url("CenturyGothic-Bold.woff") format("woff"), url("CenturyGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url("CenturyGothic-BoldItalic.eot");
  src: local("Century Gothic Bold Italic"), local("CenturyGothic-BoldItalic"), url("CenturyGothic-BoldItalic.eot?#iefix") format("embedded-opentype"), url("CenturyGothic-BoldItalic.woff") format("woff"), url("CenturyGothic-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

:root {
  --border-radius: 3px;
  --font-family-base: "Century Gothic";
  --padding-side: 215px;
  --color-base: #faf4ed;
  --color-surface: #fffaf3;
  --color-overlay: #f2e9e1;
  --color-muted: #9893a5;
  --color-subtle: #797593;
  --color-text: #575279;
  --color-love: #b4637a;
  --color-gold: #ea9d34;
  --color-rose: #d7827e;
  --color-pine: #286983;
  --color-foam: #56949f;
  --color-iris: #907aa9;
  --color-highlight-low: #f4ede8;
  --color-highlight-med: #dfdad9;
  --color-highlight-high: #cecacd;
}

* {
  font-family: var(--font-family-base);
}

body {
  font-family: var(--font-family-base);
  margin-top: 5vh;
  margin-bottom: 5vh;
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

h1 {
  font-size: 18px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 16px;
  }
}

h3 {
  color: gray;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}
@media (hover: hover) {
  a:hover {
    color: var(--color-foam);
  }
}
@media (hover: none) {
  a:active {
    color: var(--color-foam);
  }
}

button {
  border-radius: var(--border-radius);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
}
@media (hover: hover) {
  button:hover {
    background-color: var(--color-highlight-high);
  }
}
@media (hover: none) {
  button:active {
    background-color: var(--color-highlight-high);
  }
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

textarea:focus {
  outline: none;
}

h1,
h2,
h3,
p {
  word-wrap: break-word;
  white-space: normal;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
  input[type=radio] {
    --active: var(--color-foam);
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: var(--color-foam);
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
  input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
  input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  input[type=checkbox]:disabled,
  input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
  input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
  input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
  input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
  input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
  input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
  input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
  input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
  input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 7px;
  }
  @media (max-width: 767px) {
    input[type=checkbox] + label,
    input[type=radio] + label {
      font-size: 12px;
    }
  }
  input[type=checkbox]:not(.switch) {
    border-radius: 2px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 4px;
    height: 8px;
    border: 2px solid var(--color-foam);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--color-foam);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: 0.5;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
  appearance: none;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: white;
  padding: 0px;
}
select::-ms-expand {
  display: none;
}

input,
select,
button,
textarea {
  font-size: 14px;
}
@media (max-width: 767px) {
  input,
  select,
  button,
  textarea {
    font-size: 12px;
  }
}

.task-board {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.task-board__add-task-button {
  background-color: var(--color-foam);
}
.task-board__options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-board__tasks {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 20px;
}
.task-board:nth-last-child(-n+2) {
  order: -1;
}
@media (max-width: 767px) {
  .task-board {
    display: grid;
  }
  .task-board__tasks__add-task-button {
    order: 1;
  }
  .task-board__tasks {
    order: 3;
    width: 90vw;
  }
  .task-board__options {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.task-view {
  margin: auto;
  width: 50vw;
}
.task-view__buttons {
  padding-bottom: 20px;
  display: flex;
  gap: 10px;
}
.task-view__buttons-delete {
  background-color: var(--color-rose);
  margin-left: auto;
}
.task-view__buttons-edit {
  background-color: var(--color-iris);
}
.task-view__buttons button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
.task-view__card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767px) {
  .task-view {
    width: 90vw;
  }
}
@media (max-width: 1023px) {
  .task-view {
    width: 80vw;
  }
}

.task-card__name {
  padding-bottom: 20px;
}
.task-card__date, .task-card__priority, .task-card__tags {
  padding-bottom: 10px;
}

.task-add {
  margin: auto;
  width: 50vw;
}
.task-add__buttons {
  padding-bottom: 20px;
  width: 50vw;
  display: flex;
  gap: 10px;
}
.task-add__buttons-delete {
  background-color: var(--color-rose);
  margin-left: auto;
}
.task-add__buttons-edit {
  background-color: var(--color-foam);
}
.task-add__buttons button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
@media (max-width: 767px) {
  .task-add {
    width: 90vw;
  }
}
@media (max-width: 1023px) {
  .task-add {
    width: 80vw;
  }
}

.task-edit {
  margin: auto;
  width: 50vw;
}
.task-edit__buttons {
  padding-bottom: 20px;
  width: 50vw;
  display: flex;
  gap: 10px;
}
.task-edit__buttons button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
@media (max-width: 767px) {
  .task-edit {
    width: 90vw;
  }
}
@media (max-width: 1023px) {
  .task-edit {
    width: 80vw;
  }
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tags__priority__rows, .tags__duty__rows {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sort-options {
  display: flex;
  flex-direction: column;
}
.sort-options__rows {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task-form__input-name {
  height: 25px;
  padding: 5px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.task-form__error {
  padding-top: 5px;
  font-size: 14px;
  color: var(--color-love);
}
.task-form__select-priority, .task-form__select-tags {
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.task-form__select-priority {
  height: 37px;
  padding: 5px;
}
.task-form__select-tags {
  padding: 5px;
}
.task-form__select-tags {
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: auto;
}
.task-form__textarea-description {
  padding: 5px;
  resize: none;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
@media (max-width: 767px) {
  .task-form__select-priority, .task-form__select-tags {
    width: 70%;
  }
}
@media (max-width: 1023px) {
  .task-form__select-priority, .task-form__select-tags {
    width: 50%;
  }
}

.tag-row {
  display: flex;
  align-items: center;
}

.sort-option-row {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=style.css.map */