@font-face {
  font-family: "Century Gothic";
  src: local("centurygothic"), url(../../public/centurygothic.ttf) format("ttf");
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  border-radius: var(--border-radius);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

:root {
  --border-radius: 3px;
  --font-family-base: "Helvetica";
  --padding-side: 215px;
  --color-base: #faf4ed;
  --color-surface: #fffaf3;
  --color-overlay: #f2e9e1;
  --color-muted: #9893a5;
  --color-subtle: #797593;
  --color-text: #575279;
  --color-love: #b4637a;
  --color-gold: #ea9d34;
  --color-rose: #d7827e;
  --color-pine: #286983;
  --color-foam: #56949f;
  --color-iris: #907aa9;
  --color-highlight-low: #f4ede8;
  --color-highlight-med: #dfdad9;
  --color-highlight-high: #cecacd;
  --color-pastel-red: #d37676;
  --color-pastel-green: #b0c5a4;
  --color-pastel-orange: #ebc49f;
  --color-pastel-yellow: #f1ef99;
}

* {
  font-family: "Century Gothic";
}

body {
  font-family: "Century Gothic";
  margin-top: 5vh;
  margin-bottom: 5vh;
}

h1 {
  font-size: 18px;
  text-wrap: pretty;
}

h3 {
  color: gray;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}
@media (hover: hover) {
  a:hover {
    color: var(--color-foam);
  }
}
@media (hover: none) {
  a:active {
    color: var(--color-foam);
  }
}

button {
  border-radius: var(--border-radius);
  border: none;
  font-family: "Century Gothic";
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  text-align: center;
}
@media (hover: hover) {
  button:hover {
    background-color: var(--color-highlight-high);
  }
}
@media (hover: none) {
  button:active {
    background-color: var(--color-highlight-high);
  }
}

input[type=text] {
  font-family: "Century Gothic";
  font-size: 14px;
  padding: 5px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

textarea:focus {
  outline: none;
}

option {
  font-family: "Century Gothic";
}

h1,
h2,
h3,
p {
  word-wrap: break-word;
  white-space: normal;
}

.task-board {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.task-board__add-task-button {
  background-color: var(--color-pastel-green);
}
.task-board__options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task-board__tasks {
  display: flex;
  flex-direction: column;
  width: 50vw;
  gap: 20px;
}
.task-board:nth-last-child(-n+2) {
  order: -1;
}
@media (max-width: 767px) {
  .task-board {
    display: grid;
    font-size: 14px;
  }
  .task-board__tasks__add-task-button {
    order: 1;
  }
  .task-board__tasks {
    order: 3;
    width: 90vw;
  }
  .task-board__options {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.task-view {
  margin: auto;
  width: 50vw;
}
.task-view__buttons {
  padding-bottom: 20px;
  display: flex;
  gap: 10px;
}
.task-view__buttons-delete {
  background-color: var(--color-pastel-red);
  margin-left: auto;
}
.task-view__buttons-edit {
  background-color: var(--color-pastel-orange);
}
.task-view__buttons button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
.task-view__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 767px) {
  .task-view {
    width: 90vw;
  }
}
@media (max-width: 1023px) {
  .task-view {
    width: 80vw;
  }
}

.task-card__name {
  padding-bottom: 20px;
}
.task-card__date, .task-card__priority, .task-card__tags {
  padding-bottom: 10px;
}

.task-add {
  margin: auto;
  width: 50vw;
}
.task-add__buttons {
  padding-bottom: 20px;
  width: 50vw;
  display: flex;
  gap: 10px;
}
.task-add__buttons-delete {
  background-color: var(--color-rose);
  margin-left: auto;
}
.task-add__buttons-edit {
  background-color: var(--color-foam);
}
.task-add__buttons button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
@media (max-width: 767px) {
  .task-add {
    width: 90vw;
  }
}
@media (max-width: 1023px) {
  .task-add {
    width: 80vw;
  }
}

.task-edit {
  margin: auto;
  width: 50vw;
}
.task-edit__buttons {
  padding-bottom: 20px;
  width: 50vw;
  display: flex;
  gap: 10px;
}
.task-edit__buttons button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}
@media (max-width: 767px) {
  .task-edit {
    width: 90vw;
  }
}
@media (max-width: 1023px) {
  .task-edit {
    width: 80vw;
  }
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sort-date {
  display: flex;
  flex-direction: column;
}
.sort-date__option-label {
  padding-left: 5px;
}
.sort-date__row {
  padding-bottom: 5px;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task-form__input-name {
  height: 25px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.task-form__error {
  padding-top: 5px;
  font-size: 14px;
  color: var(--color-pastel-red);
}
.task-form__select-priority, .task-form__select-tags {
  height: 30px;
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.task-form__select-tags {
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: auto;
}
.task-form__textarea-description {
  resize: none;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
@media (max-width: 767px) {
  .task-form__select-priority, .task-form__select-tags {
    width: 70%;
  }
}
@media (max-width: 1023px) {
  .task-form__select-priority, .task-form__select-tags {
    width: 50%;
  }
}

.tag-row__label {
  padding-left: 5px;
}/*# sourceMappingURL=style.css.map */